<div class="container">
    <h2 [ngStyle]="{'font-size': 30}">Student Details</h2>
    <table class="table table-striped">
        <thead class="table-dark text-white">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>TotalMarks</th>
                <th>Dob</th>
                <th>Gender</th>
                <th>Action</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let stud of allStud">
                    <td>{{stud.id}}</td>
                    <td>{{stud.studName}}</td>
                    <td>{{stud.studTotalMarks}}</td>
                    <td>{{stud.studDob}}</td>
                    <td>{{stud.studGender}}</td>
                    <td><button type="button" class="btn btn-danger"
                        (click)="deleteStudent(stud.id)">
                        Delete
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary"
                        (click)="getAStudent(stud.id)">
                        View
                        </button>
                    </td>
                </tr>
        </tbody>
    </table>

</div>
