
<app-navigate></app-navigate>
<router-outlet></router-outlet>
<!-- <app-observable-demo></app-observable-demo> -->

<!-- <app-student-details></app-student-details>

<app-student-marks></app-student-marks> -->

<!-- <app-student-list-http></app-student-list-http> -->

<!-- <app-todo-animations></app-todo-animations> -->

<!-- <app-number-list></app-number-list>

<app-stud-list></app-stud-list>

<app-display></app-display>
<app-color></app-color>

<app-footer></app-footer>

<app-color-child></app-color-child> -->


