<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="display">DisplayComponent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="color">ColorComponent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="studentlist">StudentList</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="studentview">StudentView</a>
            </li>
        </ul>
    </div>
</nav>